<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">

    <div layout:fragment="content">
        <div style="display: flex; margin-bottom: 1rem">
            <a class="btn btn-outline-primary" href="/posts/save" role="button" th:if="${userName}">
                게시글 등록
            </a>
            <form class="form-inline my-2 my-lg-0" style="margin-left: auto;">
                <input class="form-control mr-sm-2" type="search" placeholder="검색어를 입력해주세요." id="search-input">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="button" id="search-btn">Search</button>
            </form>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="post: ${posts}">
                    <td><a th:text="${post.title}" th:href="@{/posts/view/{id}(id=${post.id})}"/></td>
                    <td th:text="${post.author}"></td>
                    <td th:text="${post.createdDate}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</html>